$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


$white: #fefefe;
$black: #131919;
$gray-dark: lighten(#131919, 30%);
$gray: lighten(#131919, 50%);
$gray-light: lighten(#131919, 80%);
$red: #CE324A;
$blue-light: #65B3E0;
$blue-dark: darken(#65B3E0, 30%);

$font-family-base: 'Open Sans', Helvetica, Arial, sans-serif;
$headings-font-family: 'Merriweather', serif;




.browsehappy {
  margin: 0.2em 0;
  background: $gray-light;
  color: $black;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $black;
}

a {
  color: darken($blue-light, 10%);
  &:hover {
    color: darken($blue-light, 10%);
  }
}


h1, h2, h3 {

  font-family: $headings-font-family;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  margin-top: 60px;
  padding-top: 20px;
  color: $gray-dark;

  border-top: 1px solid $gray-light;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $gray-light;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1400px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }


  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.logo-ish {
  display: inline-block;
  font-size: 2em;
  line-height: 1.5;
  color: $gray-dark;
}



.banner-primary {
  background: $red;
  color: white;
  padding: 5rem 0;
  margin-bottom: 2rem;
}


// calendar controls

.nav-tabs {
  margin-bottom: 1rem;
  > li {
    float: right;
  }
}

// calendar styles

.fc-unthemed {

  .fc-toolbar {
    h2 {
      font-weight: 200;
      color: $red;
    }

  }

  // date number
  .fc-basic-view td.fc-day-number {
    padding: 5px;
  }

  // result buttons
  .fc-state-default {
    box-shadow: none;
    text-shadow: none;
    background: none;
    border: 1px solid $gray;
    color: $black;
  }

  .fc-day, .fc-day-number {
    cursor: pointer;
  }

  .fc-today {
    background: transparent;
    position: relative;
    border-top-color: $red;
    &:before {
      content: "";
      border: 10px solid $red;
      position: absolute;
      top: 0;
      left: 0;
      border-right-color: transparent;
      border-bottom-color: transparent;
    }

    &.fc-day-number {
      color: $red;
    }
  }

  .fc-day-header {
    font-weight: 200;
    color: $gray;
  }

  .fc-event {
    border-radius: 0;
    margin: 0;
  }
}

.event-listing {
  h2 {
    font-weight: 200;
    color: $red;
  }

  .list-container ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 6rem;
    }
  }

}

.events ul {
  list-style: none;
}




// pane overlay
.pane {
  position: fixed;
  top: 0;
  height: 100%;
  width: 70%;
  max-width: 60rem;
  background-color: white;
  z-index: 10;
  box-shadow: 0 0 10px 2px rgba(50,50,50,0.2);
  transition: right 250ms ease-in-out;
  visibility: visible;

  &.hidden {
    display: block !important;
    visibility: hidden;
  }

  &.pane-right {
    right: 0;
    &.hidden {
      right: -100%;
    }
  }




}
.pane.hidden + .pane-dim {
  visibility: hidden;
  opacity: 0;
}
.pane-dim {
  background: rgba(0,0,0,0.5);
  transition: all 250ms ease-in-out;
  visibility: visible;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}




// tooltips
.tooltip {
  font-size: 1.5rem;
  font-weight: 200;
}
